body {
    background-color: #232c34;
    text-align: center;
  }
  
  .helloWebpack {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    color: #09d3ac;
  }
  
  .svgImg {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -80px;
  }